<!DOCTYPE html>
<html lang="en">

<head>
    <title>Header</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="/static/js/scripts.js"></script>
</head>
<header class="header">
    <a href="/">
        <img class="logo" src="/static/images/dark_logo.png" id="logo" alt="RadIS Icon">
    </a>
    <nav>
        <ul class="nav--links">
            <li><a href="#">
                    <h4>Services</h4>
                </a></li>
            <li><a href="#">
                    <h4>Projects</h4>
                </a></li>
            <li><a href="#">
                    <h4>About</h4>
                </a></li>
        </ul>
    </nav>
    <div class="top-right">
        <div class="theme-toggler">
            <span class="material-symbols-outlined active">
                light_mode
            </span>
            <span class="material-symbols-outlined">
                dark_mode
            </span>
        </div>
        <div class="profile">
            <div class="info">
                <p>Welcome</p>
                <small class="text-muted"> Admin</small>
            </div>
            <div class="profile-photo">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </div>
        </div>
    </div>
</header>

</html>